<div class="container page">
  <div class="row">
    <aside class="col-3 col-xs-12">
      <div class="btn-group-vertical btn-block sticky-top">
        <a
          pButton
          [ngClass]="{
            active: activeElementSelector === '#section-information'
          }"
          (click)="goToElement('#section-information')"
          href="#section-information"
          class="btn p-button-text p-button-success"
          icon="pi pi-check"
          label="Information"
        ></a>
        <a
          pButton
          [ngClass]="{
            active: activeElementSelector === '#section-menu-item'
          }"
          (click)="goToElement('#section-menu-item')"
          href="#section-menu-item"
          type="button"
          class="btn p-button-text p-button-danger"
          icon="pi pi-info-circle"
          label="Menu Item"
        ></a>
      </div>
    </aside>
    <div class="col-9 col-xs-12" style="height: 1000px">
      <div class="row" id="section-information">
        <div class="col-6 col-offset-6">
          <h2>Information</h2>
        </div>
        <div class="col-6"></div>
      </div>
      <p-tabView [(activeIndex)]="activeTabIndex">
        <p-tabPanel header="General">
          <div class="row">
            <div class="col-6">
              <div class="p-field p-fluid">
                <label for="menu-code">Menu Code</label>
                <input
                  type="text"
                  pInputText
                  id="menu-code"
                  [(ngModel)]="menuCode"
                  [ngClass]="{ 'ng-invalid ng-dirty': menuCodeError !== '' }"
                />
                <small class="p-error" *ngIf="menuCodeError !== ''">{{
                  menuCodeError
                }}</small>
              </div>
              <div class="p-field p-fluid">
                <label for="menu-name">Menu Name</label>
                <input
                  type="text"
                  pInputText
                  id="menu-name"
                  [(ngModel)]="menuName"
                  [ngClass]="{ 'ng-invalid ng-dirty': menuNameError !== '' }"
                />
                <small class="p-error" *ngIf="menuNameError !== ''">{{
                  menuNameError
                }}</small>
              </div>
            </div>
            <div class="col-6">
              <div class="p-field p-fluid">
                <label for="description">Description</label>
                <textarea
                  pInputTextArea
                  id="description"
                  [(ngModel)]="description"
                  class="p-inputtextarea"
                ></textarea>
              </div>
            </div>
            <div class="col-6">
              <div class="p-field p-fluid">
                <label for="start-date">Start Date</label>
                <p-calendar
                  inputId="start-date"
                  [(ngModel)]="startDate"
                  [ngClass]="{ 'ng-invalid ng-dirty': startDateError !== '' }"
                ></p-calendar>
                <small class="p-error" *ngIf="startDateError !== ''">{{
                  startDateError
                }}</small>
              </div>
            </div>
            <div class="col-6">
              <div class="p-field p-fluid">
                <label for="end-date">End Date</label>
                <p-calendar
                  inputId="end-date"
                  [(ngModel)]="endDate"
                  [ngClass]="{ 'ng-invalid ng-dirty': endDateError !== '' }"
                ></p-calendar>
                <small class="p-error" *ngIf="endDateError !== ''">{{
                  endDateError
                }}</small>
              </div>
            </div>
          </div>
        </p-tabPanel>

        <p-tabPanel header="Extra Information">
          <div class="row">
            <div class="col-6 col-offset-6">
              <label>Menu Code</label>
              <div>{{ menuCode }}</div>
            </div>
            <div class="col-6 col-offset-6">
              <label>Menu Name</label>
              <div>{{ menuName }}</div>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>

      <div class="row" id="section-menu-item">
        <div class="col-12">
          <h2>Menu Item</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Menu Item Code</th>
                <th>Menu Item Name</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="4">There is no menu items</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
